@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background:  #E1DACE; */
  /* background: repeating-radial-gradient(circle, #E1DACE, #E1DACE 5px, #ba955b 6px);
  background-size: 50px 100px; */
  /* background: linear-gradient(
    45deg,
    #0000 calc(25% / 3),
    #ffffff 0 calc(50% / 3),
    #0000 0 calc(250% / 3),
    #ffffff 0 calc(275% / 3),
    #0000 0
  ),
  linear-gradient(
    45deg,
    #ffffff calc(25% / 3),
    #0000 0 calc(50% / 3),
    #ffffff 0 25%,
    #0000 0 75%,
    #ffffff 0 calc(250% / 3),
    #0000 0 calc(275% / 3),
    #ffffff 0
  ),
  linear-gradient(
    -45deg,
    #0000 calc(25% / 3),
    #ffffff 0 calc(50% / 3),
    #0000 0 calc(250% / 3),
    #ffffff 0 calc(275% / 3),
    #0000 0
  ),
  linear-gradient(
      -45deg,
      #ffffff calc(25% / 3),
      #0000 0 calc(50% / 3),
      #ffffff 0 25%,
      #0000 0 75%,
      #ffffff 0 calc(250% / 3),
      #0000 0 calc(275% / 3),
      #ffffff 0
    )
    #c77979;
background-size: 106px 106px;
background-position: 0 0, 53px 53px; */

  margin: 0;
  padding: 0;
  --s: 50px; /* control the size */
  --c2: #e0c9a4;
  --c1: #b1a28b; 

  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}


.contact{
  --s: 50px; /* control the size */
  --c1: #e0c9a4;
  --c2: #FFC567; 

  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}
.project{
  --s: 50px; /* control the size */
  --c1: #e0c9a4;
  --c2: #FFC567; 

  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}