@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-pattern-light {
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 120px 120px;
  }

  .grid-pattern-dark {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #121212;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 120px 120px;
  }
}

/* Add to filepath: /home/chebchoub/Desktop/ahbajaou.github.io/src/index.css */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 18s linear infinite;

}

.scroll-container {
  display: flex;
  width: max-content; /* Ensures the content width is calculated correctly */
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(4px);
  }
}

.wave-animation {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.wave-animation:hover span {
  animation: wave 0.5s ease-in-out;
}

.wave-animation span {
  display: inline-block;
  transform-origin: bottom center;
}

.wave-animation:hover span:nth-child(1) {
  animation-delay: 0.00s;
}

.wave-animation:hover span:nth-child(2) {
  animation-delay: 0.05s;
}

.wave-animation:hover span:nth-child(3) {
  animation-delay: 0.10s;
}

.wave-animation:hover span:nth-child(4) {
  animation-delay: 0.15s;
}

.wave-animation:hover span:nth-child(5) {
  animation-delay: 0.20s;
}

.wave-animation:hover span:nth-child(6) {
  animation-delay: 0.25s;
}

.wave-animation:hover span:nth-child(7) {
  animation-delay: 0.30s;
}

.wave-animation:hover span:nth-child(8) {
  animation-delay: 0.35s;
}

.wave-animation:hover span:nth-child(9) {
  animation-delay: 0.40s;
}